
<html>
        {% block head %}

    <head>
        <title>CodeCube.com</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="assets/js/ie/html5shiv.js"></script>
        <link rel="stylesheet" href="{{ asset('bundles/templates/profile/assets/css/main.css') }}" />

        <link rel="stylesheet" href="{{ asset('bundles/template/assets/css/ie8.css') }}" />
    </head>
        {% endblock %}

        {% block addMission%}
        {%endblock%}


    <script src="{{ asset('bundles/template/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/template/assets/js/jquery.dropotron.min.js') }}"></script>
    <script src="{{ asset('bundles/template/assets/js/skel.min.js') }}"></script>
    <script src="{{ asset('bundles/template/assets/js/skel-viewport.min.js') }}"></script>
    <script src="{{ asset('bundles/template/assets/js/util.js') }}"></script>
    <script src="{{ asset('bundles/template/assets/js/ie/respond.min.js') }}"></script>
    <script src="{{ asset('bundles/template/assets/js/main.js') }}"></script>
